$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$btn-border-radius: 6px;
$nav-pills-border-radius: 6px;
$input-bg: #f9fafc;
$primary: #1e3a8a;

body, html {
  font-size: 16px;
}

@import 'node_modules/bootstrap/scss/bootstrap';

.overflow-y {
  overflow-y: auto;
}

.text-small {
  font-size: 0.8rem;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  vertical-align: middle;
  transform: translateY(-5%);
}

.bg-sky {
  background-color: #dbeafe;
}

.link-unstyled {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}